uvicorn[standard]==0.35.0
gunicorn==23.0.0
fastapi[all]==0.116.0
scikit-learn==1.7.2
autogen-agentchat==0.7.5
autogen-ext==0.7.5
autogen-ext[openai]==0.7.5
semanticscholar==0.11.0
markitdown[pdf]==0.1.3
arxiv==2.3.1
